@import compass
@import animation

#files
    .file
        .meta
            cursor: pointer

        &.fold
            height: auto!important

            .meta
                border-bottom: none!important
            > :not(.meta)
                display: none!important


@mixin stick
    position: fixed
    top: 20px
    left: 50%

.repository-sidebar.github-reviewer--stick
    +stick
    margin-left: 452px
.discussion-sidebar.github-reviewer--stick
    +stick
    margin-left: 330px


.github-reviewer-blockLabels
    overflow-y: auto
    max-height: 500px

    > li
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        margin: .5em 0
        padding: 0 .5em
        line-height: 2.2
        font-size: 12px
        font-weight: bold
        background: #eee
        border-left: .5em solid
        border-radius: 3px
        list-style-type: none
        cursor: pointer
        opacity: .3
        +transition(opacity .2s linear)

        &:hover, &.active
            opacity: 1

        &.loading
            +animation(github-reviewer-breathing 2s infinite)

+keyframes(github-reviewer-breathing)
    0%, 100%
        opacity: 1
    50%
        opacity: .1
